{% extends "./basic/base.html.twig" %}


{% block content %}
    <div class="content">
        <div class="home">
            <div class="home__section home__section--right transition-all-2000" id="section-0">
                <div class="container">
                    <h2>Kwota do załaty</h2>
                    <h1>{{ pay.p24_amount_pln }} PLN</h1>
                    <div class="home__btn">
                        <form action="https://secure.przelewy24.pl/trnDirect" method="post" class="form">
                            <input type="hidden" name="p24_session_id" value="{{ pay.p24_session_id }}" />
                            <input type="hidden" name="p24_merchant_id" value="{{ pay.p24_merchant_id }}" />
                            <input type="hidden" name="p24_pos_id" value="{{ pay.p24_pos_id }}" />
                            <input type="hidden" name="p24_amount" value="{{ pay.p24_amount }}" />
                            <input type="hidden" name="p24_currency" value="{{ pay.p24_currency }}" />
                            <input type="hidden" name="p24_description" value="{{ pay.p24_description }}" />
                            <input type="hidden" name="p24_email" value="{{ pay.p24_email }}" />
                            <input type="hidden" name="p24_country" value="{{ pay.p24_country }}" />
                            <input type="hidden" name="p24_url_return" value="{{ pay.p24_url_return }}" />
                            <input type="hidden" name="p24_url_status" value="{{ pay.p24_url_status }}" />
                            <input type="hidden" name="p24_api_version" value="3.2" />
                            <input type="hidden" name="p24_sign" value="{{ pay.p24_sign }}" />
                            <input name="submit_send" value="Zatwierdź i zapłać" type="submit" class="btn btn--grey"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block content_asside %}{%  endblock %}